@media only screen and (min-width: 1600px) {
    .page-container {
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-device-width: 1250px) {
    #cv-button-heading {
        margin-top: 30%;
    }
}

@media only screen and (min-device-width: 1024) and (max-device-width: 1249px) {
    #cv-button-heading {
        margin-top: 40%;
    }
}

@media only screen and (min-device-width: 240px) and (max-device-width:1023px) {
    .advantage {}
    .content {
        margin-left: 5%;
        margin-right: 5%;
    }
    .page-container {
        width: inherit;
        margin-left: 0;
        margin-right: 0;
        height: auto;
    }
    .header-img{
        z-index: -999;
    }
     .upper-header {
        position: absolute;
        width: 100%;
    }
    .upper-header img {
        margin-left: 5%;
        margin-top:10px;
        width: auto;
        height: 20px;
    }
    .cv-button .btn {
        background-image: url("../img/mobile/button.png");
        background-color: transparent;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        padding-top: 0px;
        position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: 40px;
        margin-bottom: 15px;
        min-height: 50px;
        width: 100%;
    }
    .cv-button .btn:hover {
        background-image: url("../img/mobile/button-hover.png");
    }
    /***reusable*/
    .sub-heading-a {
        margin: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        position: center;
        background-size: 100% 100%;
        max-height: 220px;
        min-height: 150px;
    }
    .sub-heading-b {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        max-height: 220px;
        min-height: 150px;
    }
    
    #sub-heading-2 {
        background: url("../img/sub-heading-2.jpg");
        background-size: 100% 100%;
    }
    #sub-heading-3 {
        background: url("../img/sub-heading-3.png");
        background-size: 100% 100%;
    }
    #sub-heading-4 {
        background: url("../img/sub-heading-4.png");
        background-size: 100% 100%;
        z-index: 10;
    }
    #sub-heading-5 {
        background: url("../img/sub-heading-5.png");
        background-size: 100% 100%;
    }
    #sub-heading-6 {
        background: url("../img/sub-heading-6.png");
        background-size: 100% 100%;
    }
    .content-1 {
        min-height: 270px;
        margin: 60px 0 0 0;
    }
    .chkbox {
        margin-bottom: 30px;
    }
    .chkbox-label {
        width: 70%;
        margin: 0px 0px 0px 5px;
    }
    /**content-2**/
    #image.content img {
        width: 100%;
        max-height: 350px;
        min-height: 150px;
        margin-bottom: 20px;
    }
    .panel {
        margin-top: 45px;
        min-height: 337.5PX;
        border-radius: 0px;
        width: 100%;
    }
    .panel-heading {
        background-color: #777777;
        border-radius: 0px;
        color: #fff;
        text-align: center;
    }
    /**conyeny-3**/
}

@media only screen and (min-width: 1024px) {
    /* Styles */
    .page-container .jumbotron {
        width: inherit;
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        margin-bottom: 0px;
    }
    .header {
        background-size: 100% 100%;
        height: 450px;
    }
    .upper-header {
        position: absolute;
        width: 100%;
        background-color: #031919;
        min-height: 55px;
    }
    .upper-header img {
        padding: 15px 0px 0px 315px;
        width: auto;
        padding-left: 23.33%;
        height: 40px;
    }
    .sub-heading-a {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 165px;
    }
    .sub-heading-b {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        position: center;
        background-repeat: no-repeat;
        min-height: 150px;
    }

    #sub-heading-2 {
        background: url("../img/sub-heading-2.jpg");
        background-size: 100% 100%;
    }
    #sub-heading-3 {
        background: url("../img/sub-heading-3.png");
        background-size: 100% 100%;
    }
    #sub-heading-4 {
        background: url("../img/sub-heading-4.png");
        background-size: 100% 100%;
        z-index: 10;
    }
    #sub-heading-5 {
        background: url("../img/sub-heading-5.png");
        background-size: 100% 100%;
    }
    #sub-heading-6 {
        background: url("../img/sub-heading-6.png");
        background-size: 100% 100%;
    }
    .content-1 {
        min-height: 270px;
        margin: 60px 0 0 0;
    }
    .content-1 p {
        text-align: left;
    }
    .chkbox {
        margin-bottom: 30px;
    }
    .chkbox-label {
        width: auto;
        margin: 0px 0px 0px 5px;
        text-align: left;
    }
    /********************************************************************************************************************/
    .content-2 {
        min-height: 1075px;
    }
    .content-2 .content {
        margin-top: 75px;
        margin-bottom: 30px;
        display: inline-block;
    }
    .dece-content {
        margin-top: 40px;
    }
    .content-2-desc {
        width: 81%;
    }
    .illusive-logo {
        float: right;
        margin-top: 60px;
        width: 17.5%;
    }
    .illusive-logo img {
        width: 100%;
    }
    #image.content img {
        max-height: 200px;
        min-height: 150px;
    }
    .panel {
        margin-top: 45px;
        min-height: 337.5PX;
        border-radius: 0px;
    }
    .panel-heading {
        background-color: #777777;
        border-radius: 0px;
        color: #fff;
        text-align: center;
    }
    /********************************************************************************************************************/
    .content-3 {
        background: url("../img/bg-image-1.jpg");
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-size: 100% 100%;
        padding: 0px;
        position: center;
        background-repeat: no-repeat;
        min-height: 540px;
    }
    .content-3 .content {
        padding-top: 75px;
        margin-top: -16px;
        z-index: 1;
    }
    .specs {
        border-radius: 5px;
        background-color: #fff;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 25px;
        min-height: 400px;
    }
    .specs-items {
        width: 100%;
        margin: 10px 0 10px 0;
        border-width: 0px 0px 3px 0px;
        border-style: solid;
        border-color: #cccccc;
    }
    .specs-icon {
        height: 50px;
        width: 60px;
    }
    .specs-desc {
        margin-left: 10px;
        width: 85%;
    }
    .specs-desc p {
        margin-top: 20px;
    }
    .specs-desc ul {
        list-style-type: circle;
        margin-bottom: 3px;
    }
    /********************************************************************************************************************/
    .content-4 {
        min-height: 810px;
    }
    .ct-logo {
        float: right;
        width: 30%;
    }
    .horizontal-line {
        border-bottom: thin solid #71c612;
    }
    .horizontal-line-1 {
        width: 67%;
        margin-left: 2%;
    }
    .horizontal-line-2 {
        width: 50%;
        margin-right: 2%;
    }
    .horizontal-line-3 {
        width: 43%;
        margin-left: 2%;
    }
    .advantage,
    .advantage-1 {
        padding-top: 30px;
    }
    .advantage-1-image img {
        height: 150px;
        width: 155px;
    }
    .advantage-1-desc {
        margin-left: 50px;
        width: 60%;
    }
    .advantage-1-desc h3 {
        display: inline-block;
        margin-top: 0px
    }
    .advantage-2 {
        padding-top: 0px;
    }
    .advantage-2-heading h3,
    .advantage-1-heading h3 {
        display: inline-block;
        margin-top: 0px;
    }
    .advantage-2 .advantage-desc-container {
        margin-left: 20%;
    }
    .advantage-2-image img {
        height: 135px;
        width: 200px;
    }
    .advantage-2-desc {
        margin-left: 10px;
        width: 50%;
    }
    /********************************************/
    .cv-button .btn {
        background-image: url("../img/cv_btn.png");
        background-color: transparent;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        padding-top: 0px;
        position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: 40px;
        margin-bottom: 75px;
        /* margin-left: 8.33%;
        margin-right: 8.33%;*/
        min-height: 75px;
        width: 100%;
    }
    .cv-button .btn:hover {
        background-image: url("../img/cv_btn_hover.png");
    }
    #cv_button {
        padding-left: 8.33%;
        padding-right: 8.33%;
    }
    /********************************************************************************************************************/
    .content-5 {
        min-height: 338px;
    }
    .guard-container {
        margin: 55px 0px 75px 0px;
    }
    .guard-image {
        width: 45%;
    }
    .guard-desc {
        margin-left: 20px;
        width: 50%;
    }
    /********************************************************************************************************************/
    .content-6 {
        min-height: 940px;
    }
    .advantages img {
        margin-bottom: 20px;
    }
    .content-6 .content {
        margin-top: 55px;
    }
    .sales-rep {
        background: #f9f9f9;
        margin-bottom: 110px;
    }
    .img-step {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-size: 100% 100%;
        margin: 0px 15px 15px 15px;
        width: 220px;
        height: 150px;
    }
    #step-1 {
        background-image: url("../img/step-1.png");
    }
    #step-2 {
        background-image: url("../img/step-2.png");
    }
    #step-3 {
        background-image: url("../img/step-3.png");
    }
    #step-4 {
        background-image: url("../img/step-4.png");
    }
    #step-5 {
        background-image: url("../img/step-5.png");
    }
    #step-6 {
        background-image: url("../img/step-6.png");
    }
    .sales-rep-image {
        width: 33.33%;
    }
    .sales-rep-desc {
        margin-left: 8.33%;
        width: 50%;
    }
    .sales-rep-desc h3 {
        padding-bottom: 10px;
        border-bottom: 2px solid #71c612;
    }
    /********************************/
    .content {
        margin-left: 23.333%;
        margin-right: 23.333%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}

.text-align-bottom {
    vertical-align: bottom;
}

